/*Global*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0
}
body{
  margin: 0;
  text-align: center;
  font-family: Raleway;
  background: pink ;
}
.container{
  width : 100%;
  margin: 0 ;
  padding: 0;
  text-align: center;
  overflow: hidden;
}
/*Header*/
header{
  text-align: center;
  min-height: 70px;
  padding: 40px;
  background-color: #CC837F;
}

nav li{
  display: inline;
  padding: 0 20px 0 20px;
}
nav a{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: #661919;
  text-shadow: 2px 2px #CC7F7F;
  font-family: Sofia;
  border-bottom:  #7F3333 3px  double;
}
nav a:hover{
  color:#7F0000;
  font-weight: bold;
}
.flower{
  background-color: #E59C99;
  display: flex;
  flex-direction:row;
  justify-content: center;
  max-width: 960px;
  margin: 0 auto;
  padding: 32px;
}

.subtitle-product{
  text-align: center;
  padding-top: 20px;
}
.header-flex{
  display: flex;
  flex-direction:column;
  justify-content: center;
  background-color:  #E5827F;
  border-top:  #B26866 2px  solid;
  border-bottom: #B26866 2px  solid;
}
.rose1{
  border-left:  #B26866 2px  solid;
  border-top:  #B26866 2px  solid;
  border-bottom: #B26866 2px  solid;
  display: flex;
  flex-direction: column;
}
.row-1{
  display: flex;
  flex-direction:row;
}
.rose2{
  border-right:  #B26866 2px  solid;
  border-top:  #B26866 2px  solid;
  border-bottom: #B26866 2px  solid;
  display: flex;
  flex-direction: column;
}
.product{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.luna2{
  padding-top: 40px;
  padding-right: 40px;
  padding-left: 20px;
  color:#994D4C ;
  font-family: Berkshire Swash;
}
.nav-product{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.subtitle{
  color:#994E4C;
}
/*about section*/
.about{
  background-color: #E59D99;
  font-weight: 300;
  min-width: 500px;

}

.pic-div{
  display: flex;
  flex-direction: row;
  justify-content:center ;
  padding-right: 20px;

}
.pic-1{
  display: flex;
  flex-direction: column;
}
.pic-2{
  display: flex;
  flex-direction: column;
}


.about-p{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.p-div{

  font-size: 14px;
  font-family:fantasy;
  font-weight: 200;
  border: 3px #fff double;
  padding: 20px 20px 20px 20px ;
}

#luna-about{
  font-family: Alegreya SC;
  font-size: 50px;
  font-style: italic;
}

#luna-pic{
  border-radius: 50%;
  border-color: #FF3366;
}
#span-luna{
  font-family: Alegreya SC;
  font-size: 16px;
  font-weight: 100;
  font-style: italic;
}
.next{
  padding-top: 120px;
  font-size: 20px;
  font-family:fantasy;
  font-weight: 200;
  font-style: italic;

}
.next a{
  text-decoration: none;
  font-size: 40px;
  font-weight: bold;
  font-family:fantasy;
  font-style: italic;
  color:#E599A8;
  background-color: #CC667B;
  padding: 10px 10px 10px 10px;
  border: 3px #7F3633 double;
  border-radius: 10%;

}
.next a:hover{
  color:#B26966;
}
/* media query*/
/*header section*/
@media screen and (max-width: 699px) and (min-width: 200px) {
  .header-flex{
    width: 70vw;
  }
  .nav-product nav ul a{
    font-size: 15px;
  }
  #fs{
    display: none;
  }
}
/*about section*/

@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .pic-div{
      display: flex;
      flex-direction: row;
      justify-content:flex-start;
      padding-right: 20px;

    }
}
@media screen and (max-width: 699px) and (min-width: 220px) {
  #span-luna{
    font-weight: normal;
  }
  #luna-about{
    padding-right: 170px;
    padding-left: 40px;
  }
  #luna-pic{
    padding-right: 170px;
    border-radius: 0%;
    height: 100px;
  }
  .luna-img{

    padding-left: 40px;
    padding-bottom: 10px;
  }
  .about-p{
    display: flex;
    flex-direction: column;
  }

  .p-div{
    width: 60%;
    padding-left: 40px;
  }
  .next{
    padding-right: 170px;
    padding-left: 40px;
    padding-top: 20px;
  }
  .next a{
    font-size: 20px;
  }
  .pic-div{
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
  }
  .pic-1{
    display: flex;
    flex-direction:row;
  }
  .pic-2{
    display: flex;
    flex-direction:row;

  }
  .luna-about{
    width: 10vw;
  }
  #wa{
    width:20%;
    height: 20%;
  }
}
/*fit iapd screen for the next div*/
@media screen and (max-width: 800px) and (min-width: 700px) {
  .next a{
    font-size: 20px;
  }
  .next{
    padding-top: 40px;
  }
}
/*fit iphone 5screen for the luna-img div*/
@media only screen and (width:320px){
  .luna-img{
    padding-left: 0;
    padding-bottom: 10px;
  }
  #span-luna{
    font-size: 15px;
  }
}
