/*Global*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0
}
body{
  margin: 0;
  text-align: center;
  font-family: Raleway;
  background: pink ;
}
.container{
  width : 100%;
  margin: 0 ;
  padding: 0;
  text-align: center;
  overflow: hidden;
}
/*Header*/
header{
  text-align: center;
  min-height: 70px;
  padding: 40px;
  background-color: #CC837F;
}

nav li{
  display: inline;
  padding: 0 20px 0 20px;
}
nav a{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: #661919;
  text-shadow: 2px 2px #CC7F7F;
  font-family: Sofia;
  border-bottom:  #7F3333 3px  double;
}
nav a:hover{
  color:#7F0000;
  font-weight: bold;
}
.flower{
  background-color: #E59C99;
  display: flex;
  flex-direction:row;
  justify-content: center;
  max-width: 960px;
  margin: 0 auto;
  padding: 32px;
}

.subtitle-product{
  text-align: center;
  padding-top: 20px;
}
.header-flex{
  display: flex;
  flex-direction:column;
  justify-content: center;
  background-color:  #E5827F;
  border-top:  #B26866 2px  solid;
  border-bottom: #B26866 2px  solid;
}
.rose1{
  border-left:  #B26866 2px  solid;
  border-top:  #B26866 2px  solid;
  border-bottom: #B26866 2px  solid;
  display: flex;
  flex-direction: column;
}
.row-1{
  display: flex;
  flex-direction:row;
}
.rose2{
  border-right:  #B26866 2px  solid;
  border-top:  #B26866 2px  solid;
  border-bottom: #B26866 2px  solid;
  display: flex;
  flex-direction: column;
}
.product{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.luna2{
  padding-top: 40px;
  padding-right: 40px;
  padding-left: 20px;
  color:#994D4C ;
  font-family: Berkshire Swash;
}
.nav-product{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.subtitle{
  color:#994E4C;
}
/*about section*/
.about{
  background-color: #E59D99;
  font-weight: 300;

}
.main-div{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.pic-div{
  display: flex;
  flex-direction: row;
  justify-content:flex-start ;

}
.pic-1{
  flex-grow:1;
  display: flex;
  flex-direction: column;

}
.pic-2{
  flex-grow:1;
  display: flex;
  flex-direction: column;

}


.about-p{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 4;
}
.about-p2{
  padding-top: 20px;
  justify-content: center;
}
.p-div{

  font-size: 14px;
  border: 3px #fff double;
}

#luna-about{
  font-family: Alegreya SC;
  font-size: 50px;
  font-style: italic;
}
#luna-img{
  padding-bottom: 70px;
}
#luna-pic{
  border-radius: 50%;
  border-color: #FF3366;
}
#h4-luna{
  font-family: Alegreya SC;
  font-size: 16px;
  font-weight: 100;
  font-style: italic;
}
.next{
  padding-top: 10px;

}
.next a{
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color:#7F3633;
}
.next a:hover{
  color:#B26966;
}
