body{
  font:15px;
  padding: 0;
  margin: 0;
}
/* Global*/
.container{
  width: 100%;
  margin: auto;
  overflow: hidden;
  font-family: Allan;
}

ul{
 margin: 0;
 padding: 0;
}
/*Header*/
#header-container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}
header{
  background: #70F8BA;
  color:black;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #CAFE48 3px solid;

}
header a{
  color:#52489C ;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
  margin-bottom: 5px;
  font-style:oblique;
  font-size: 30px;
}

header  h1{
  float:left;
  margin: 0;
  font-size: 60px;
  margin-bottom: 5px;
  font-style: italic;
  color: #52489C;

}
header nav{
  float:right;
  margin-top: 10px;
}
header a:hover{
  color:#524948;
  font-weight: bold;
}
/* Home Section */

.home{
  min-height:400px;
  background: url('https://images.unsplash.com/photo-1480223600438-985f45515145?auto=format&fit=crop&w=750&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D') no-repeat  0 -400px;
  background-size: cover;
  text-align: center;
  background-position: 50%;
  margin: 0 auto;
  border-bottom: #997F7F 3px solid;
}
